.blur {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(5px); // Adjust the blur amount as needed
    z-index: 9999999;
}

.event-form {
    .name-box {
        margin-bottom: 50px;
        margin-left: auto;
        margin-right: auto;
    }

    .input-boxes {
        display: flex;
        //flex-direction: row;
        justify-content: center;
        gap: 10%;
        flex-wrap: wrap;
        row-gap: 150px;

        .inner-box {
            display: block;
            flex: 1 1 100px;
            min-width: 320px;

        }
    }

    .name-box {
        width: auto;
    }
}

.banner {
    height: 10px;
    background-color: var(Secondary-Color) !important;
}

.selector {
    display: flex;
    flex-wrap: wrap;
}

.day_selector_div {
    // padding: 5px;

    .day_selector_button {
        background-color: rgba(66, 66, 66, 0.062);
        // color: rgb(31, 31, 31);
        border: 0;
        // border: 1;
        // border-style: groove;
        border-radius: 3px;
        width: 50px;
        margin-right: 3px;
        padding-bottom: 40px;
        // margin: 0;
        // height: 100px;
        // vertical-align: top;
        transition: all 0.3s;
    }

    .day_selector_button.selected {
        background-color: rgba(#F1B24A, 0.45) !important;
    }

    @media(hover: hover) and (pointer: fine) {
        .day_selector_button:hover {
            background-color: rgba(66, 66, 66, 0.15);
        }

        .day_selector_button.selected:hover {
            background-color: #cccaf5;
        }
    }
}

.calender-cont {
    display: flex;
    // justify-content: right;

    p {
        justify-self: left;
        margin-right: 20px;
    }

    button {
        border: 0;
    }

    .btnleft {
        margin-left: auto;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        transition: background-color 0.2s ease;
    }

    .btnleft:hover,
    .btnright:hover {
        background-color: rgb(146, 146, 146, 0.3)
    }

    .btnleft:active,
    .btnright:active {
        background-color: #dbdafd !important;
    }

    .btnright {
        margin-right: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        transition: background-color 0.2s ease;
    }
}

.calender-days {
    display: grid;
    grid-template-columns: repeat(7, 50px); //fix later
    flex-wrap: wrap;

    .dayTitles {
        color: gray;
        text-align: center;
    }

    .day {
        margin-top: 5px;
        border: 0;
        border-bottom: 1px;
        border-style: solid;
        border-color: rgba(119, 119, 119, 0.301);
        display: flex;
        justify-content: center;

        button {
            border: 0;
            margin-bottom: 5px;
            border-radius: 10px;
            // width: 32px;
            width: 100%;
            height: 32px;
            background-color: white;
            color: rgb(56, 56, 56);
            transition: all 0.1s;
        }


    }

    @media(hover: hover) and (pointer: fine) {
        .day:not(.selected):hover button {
            background-color: rgba(66, 66, 66, 0.137) !important;
        }
    }

    // All conditional styling
    .today {
        button {
            color: var(--Highlight-Colour);
        }
    }

    .diffMonth {
        button {
            color: rgb(146, 146, 146);
        }
    }

    // 
    .dayTitles {
        margin: 0px;
        padding: 0;
    }

    .selected button {
        background-color: var(--Light-Creme);
    }

    .onLeft button {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    .onRight button {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

}

.calender-days.crossFadeLeft {
    animation: fade-in-keyframes-left 0.2s;
}

.calender-days.crossFadeRight {
    animation: fade-in-keyframes-right 0.2s;
}

@keyframes fade-in-keyframes-left {
    from {
        opacity: 1;
    }

    5% {
        opacity: 0.1;
        transform: translate(50px, 0); //fix
    }

    to {
        opacity: 1;

    }
}

@keyframes fade-in-keyframes-right {
    from {
        opacity: 1;
    }

    5% {
        opacity: 0.1;
        transform: translate(-50px, 0); //fix
    }

    to {
        opacity: 1;

    }
}

//buttons
.bottom-buttons {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    gap: 5%;


}



@media(hover: hover) and (pointer: fine) {
    .clear-button:hover {
        background-color: rgb(255, 196, 4) !important;
    }
}