


// Index

// .event-form{
//     display: flex;
//     background-color: grey;
//     justify-content: space-between;
//     align-content: center;
//     flex-direction: column;
    

//     .input-boxes {
//         display: flex;
//         flex-direction: row;
//         color: blue;
//         align-self: center;
//         justify-self: space-between;
//     }

//     .left-box{
//         background-color: rgb(78, 63, 56);
//         flex-grow: 1;
//     }
//     .right-box{
//         background-color: coral;
        
//     }
// }

// .selector{
//     background-color: blue;
// }
// .radio-boxes{
//     background-color: aqua;
// }

// 
// Calender 
// 
.day_selector_button{
    background-color: white;
    padding: 5px;
    margin-right: 5px;

    
}
.selected{
    background-color: red;
}