body {
  margin: 0;
  font-family: 300 11px/1.4 'Helvetica Neue', Helvetica, Arial, sans-serif;
  /* background: #F7DBA7; */
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}