.event {
    .view-format-selector {
        position: relative;
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;

        .weekly-selector,
        .daily-selector {
            width: 50%;
            height: 30px;
            border: none;
        }

        .weekly-selector {
            border-bottom-right-radius: 15px;
            border-bottom-left-radius: 5px;
            border-top-left-radius: 5px;
        }

        .daily-selector {
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 5px;
            border-top-right-radius: 5px;
        }

        .weekly-selector-unselected,
        .daily-selector-unselected {
            background-color: var(--Fourth-Colour);
        }

        @media(hover: hover) and (pointer: fine) {

            .weekly-selector-unselected:hover,
            .daily-selector-unselected:hover {
                background-color: var(--Secondary-Colour) !important;
            }
        }

        .weekly-selector-selected,
        .daily-selector-selected {
            background-color: var(--Tertiary-Colour);
        }
    }

    .DaySelector {
        display: flex;

        .event-title {
            position: relative;
            margin-top: 10px;
            display: flex;
            justify-content: center;
        }

        .timeSelectors {
            display: grid;
            // grid-template-columns: repeat(NUM, 1fr); IN DAYSLECTOR TSX

            .timeLabels {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }

            .time-buttons {
                height: 10px;
                width: 80px;
                margin: 0;
            }
        }



        .calendar {
            margin-left: auto;
        }

        @media (max-width:900px) {
            .calendar {
                margin-right: auto;
            }
        }
    }

    @media (max-width:900px) {
        .DaySelector {
            flex-wrap: wrap;
        }
    }
}