//https://coolors.co/a4e1fe-264653-e9c46a-f4a261

.nav-style{
  border-top: 1px solid #2d363c;
  border-bottom: 1px solid #2d363c;
  background-color: #161a1d
  ; //#F1AB86
  height: 60px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.logo-image{
  
  height: 40px;
  width: auto;
  object-fit:fill;
  &:hover{
    border-radius: 10px;
    background-color: #30343c;
  }
}

.nav-logo{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #ffff !important;
  font-weight: 550;
  padding: 0px 5px 0px 5px;
  &:hover{
    border-radius: 5px;
    background-color: #30343c;
  }
}

.nav-links {
  position: relative;
  top: 7px;
  left: 100px;;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #c7c7c7 !important;
  font-weight: 550;
  display: flex;
  padding: 6px 10px 6px 10px;
  &:hover{
    border-radius: 5px;
    background-color: #30343c;
  }
}
.nav-link-selected {
  position: relative;
  top: 7px;
  left: 100px;;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #579dff !important;
  font-weight: 550;
  display: flex;
  padding: 6px 10px 6px 10px;

  -webkit-transition: background-color 100ms ease-in-out;
  -moz-transition: background-color 100ms ease-in-out;
  -o-transition: background-color 100ms ease-in-out;
  -ms-transition: background-color 100ms ease-in-out;
  transition: background-color 100ms ease-in-out;
  &:hover{
    color: #c7c7c7 !important;
    border-radius: 5px;
    background-color: #30343c;
  }

}