*{
    font-family: Arial, Helvetica, sans-serif;
    
}


.nav-style{
    box-shadow: 0 3px 5px 0 rgba(0,0,0,.2);
    background-color: #5885AF; //#F1AB86
    
    .content-width-bar{
        max-width: 80%;
        min-width: 400px;
        padding-top: 1px;
        padding-bottom: 1px;
        padding-right: 3px;
    }

    .nav-style-bar {
        align-items: center;
        
        // background-color: #41729F;
        background-color: #274472;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
        color: black;


        
        .nav-logo{
            padding-left: 10px;
        }

    }

    .nav-sub{
        max-width: 80%;
        min-width: 400px;
        height: 10px;
    }
}


// a.nav-link:hover{
//     content: 'asd';
// }

.nav-link{
    position: relative;
}

.nav-link::after{
    content: "";
    height: 2px;
    width: 90%;
    background: rgba($color: #FFFFFF, $alpha: 0.55);
    position: absolute;
    display: block;  
    left: 6px;
    bottom: -10.3px;
    opacity: 0;
    transition: all 0.2s;
    pointer-events: none;
    border-radius: 2px 2px 0px 0px;
}

.nav-link:hover::after{
    opacity: 1;
    height: 2px;
}

.nav-link.active::after{
    height: 4px;
    opacity: 1;
}

  
.logo-image{
    position:relative;
    height: 30px;
    width: auto;
    padding-right: 5px;
}






// footer stuff
.footer{
    position: fixed;
    bottom: 0;
    background-color: #5885AF; //#F1AB86
    width: 100%;
    box-shadow: 0 3px 5px 0 rgba(0,0,0,.2);
    max-height: 22px;

    .footer-bar{
        max-width: 80%;
        min-width: 400px;
        display: flex;
        flex-direction: row;
        align-items: stretch;

        .footer-component{
            margin-right: 80px;
        }
        
        .footer-link{
            text-decoration: none;
            color: rgba(0,0,0,.6);
        }
        .footer-link:hover{
            text-decoration: underline;
        }

        .last-comp{
            margin-right: 0;
            margin-left: auto;
        }
    }

}

.main-content-box{
    max-width: 80%;
    min-width: 400px;
    margin-top: 40px;

}